.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  white-space: nowrap;
}

.btn--primary {
  background-color: $ColorLight;
  color: $ColorDark;
  border: 1px solid $ColorLight;
}

.btn--outline {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border: 1px solid $ColorLight;
  transition: all 0.3s ease-out;
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--mobile {
  text-align: center;
  border-radius: 4px;
  width: 50%;
  text-decoration: none;
  font-size: 24px;
  background-color: transparent;
  color: $ColorLight;
  padding: 14px 20px;
  border: 1px solid $ColorLight;
  transition: all 0.3s ease-out;
}

.btn--large:hover,
.btn--medium:hover,
.btn--mobile:hover {
  transition: all 0.3s ease-out;
  background: $ColorLight;
  color: $ColorDark;
}

.btn--wide {
  padding: 12px 64px;
  font-size: 20px;
  color: $ColorLight;
  background-color: $ColorRed;
  transition: all 0.2s ease-out;
}

.blue {
  background-color: $ColorBlueCTA;
  color: $ColorLight;
  border: none;
}
.blue:hover {
  background-color: $ColorBlueDark;
  color: $ColorLight;
  border: 2px solid $ColorLight;
}
.red {
  background-color: $ColorRed;
  color: $ColorLight;
  border: none;
}
.primary {
  background-color: $ColorDark;
  color: $ColorLight;
  border: none;
}
.primary:hover {
  background-color: $ColorLight;
  color: $ColorDark;
  border: none;
}
.green {
  background-color: $ColorGreen;
  color: $ColorDark;
  border: none;
}
.green:hover {
  background-color: $ColorDark;
  color: $ColorLight;
  border: none;
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 8pc 16px;
  height: 100%;
  width: 100%;
}
